<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.vmg.lendingapp.facechecklib">

    <application>
        <activity
            android:name=".FaceCheckActivity"
            android:exported="true" />
    </application>

</manifest>